apiVersion: v1
kind: Secret
metadata:
  name: dmsartifactory
  namespace: default
data:
  .dockerconfigjson: {{ lookup('template', 'secrets/dmsartifactory.json.j2') | to_json | b64encode }}
type: kubernetes.io/dockerconfigjson
